<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
  <%- include("./partials/navBar.ejs") %>

  <div class="movies">

    <% if (movies.length > 0) { %>
      <% movies.forEach(movie => { %>
        <div class="home-posters">
          <img class= "home-po" src=<%= movie.poster %>/>
          <h3 class="title"><%= movie.title %></h3>
<!--           <p class="snippet"><%= movie.genres %></p> -->
        </div>
      <% }) %>
    <% } else { %>
      <p>There are no movies to display...</p>
    <% } %>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>